#root {
  viewport-fill: black;
  fill: palegoldenrod;
}

.application-fill           { fill: fb-orange; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#btn-start-exercise #image {
  href: "workout/play.png";
  x: 10;
}

#btn-pause-exercise #image {
  href: "workout/pause.png";
  x: 9;
}

#btn-finish-exercise #image {
  href: "workout/finish.png";
}

#btn-back-exercise #image {
  href: "workout/back.png";
}

#btn-start-exercise {
  x: 25;
  y: 25;
}

#btn-pause-exercise {
  x: 25;
  y: 25;
}

#btn-finish-exercise {
  x: 280;
  y: 25;
}

#btn-back-exercise {
  x: 25;
  y: 25;
}

#background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: black;
}

#time {
  font-size: 48;
  font-family: System-Bold;
  text-length: 38;
  text-anchor: middle;
  x: 50%;
  y: 50;
  fill: white;
}

#amPm {
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: end;
  x: 90%;
  y: 44;
  fill: white;
}

#date {
  x: 50%;
  y: 81;
  font-size: 32;
  text-anchor: middle;
  font-family: System-Bold;
  text-length: 120;
  fill: palegoldenrod;
}

#restingHr {
  transform: translate(100%-78,93)
}

#bluetooth {
  transform: translate(100%-78,203);
}

#bluetooth-icon-enabled {
  display:none;
} 

#bluetooth-icon-disabled {
  display:none;
} 

#hr {
  transform: translate(100%-78,123)
}

#bat {
  transform: translate(100%-78,163);
}

#view-exercise-type {
  display: none;
}

#view-exercise {
  display: none;
}

#btn-finish-exercise {
}

#btn-pause-exercise {
  display: none;
}

#exercise-metric-time {
  transform: translate(8,93);
  fill: orange;
}

#exercise-metric-cals {
  transform: translate(5,133);
  fill: violet;
}

#exercise-metric-dist {
  transform: translate(5,173);
  fill: yellowgreen;
}

#exercise-metric-speed {
  transform: translate(8,213);
  fill: yellowgreen;
}


#exercise-metric-time-count {
  text-length: 159;
}

#exercise-metric-cals-count {
  text-length: 159;
}

#exercise-metric-dist-count {
  text-length: 159;
}

#exercise-type-background{
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: black;
}

#exercise-type-1 {
  y: 0; 
  width: 80%;
  x: 20%;
}

#exercise-type-2 {
  y: 120;
  width: 80%;
  x: 20%;
}

#exercise-type-3 {
  y: 240;  
  width: 80%;
  x: 20%;
}

#exercise-type-4 {
  y: 10000;  
  width: 80%;
  x: 20%;
}

#btn-pause-exercise {
  fill: palegoldenrod;
  display: none;
}

#btn-start-exercise {
  fill: palegoldenrod;
  display: none;
}

#btn-finish-exercise {
  fill: palegoldenrod;
  display: none;
}

#goal0 {
  transform: translate(8,93);  
  fill: gold;
}

#goal1 {
  transform: translate(5,133);
  fill: yellowgreen;
}
#goal2  {
  transform: translate(5,173);
  fill: skyblue;
}
#goal3  {
  transform: translate(8,213);
  fill: violet;
}
#goal4 {
  transform: translate(15,253);
  fill: orange;
}

#crypto-left {
  transform: translate(15,260)
}

#crypto-right {
  transform: translate(50%+5,260)
}

#crypto-container {
  display: none;
}

#crypto-container .icon {
  fill: white;
}

#bat-icon {
}

#bat-fill {
  y: 7;
  height: 10;
  x:2;
  width: 19;
}

.progress {
  x: 26;
  y: 29;
  height: 5;
  width: 10;
}

.bg {
  x:26;
  y:31;
  height: 1;
  width: 65%-24;
}

.tgt-no {
  cx: 65%+5;
  cy: 31;
  r: 4;
}

.tgt-yes {
  cx: 65%+5;
  cy: 31;
  r: 8; 
  display: none;
}

.icon {
  width: 24;
  height: 24;
  x:0;
  y:0;
}

.count {
  font-size: 32;
  x: 26;
  y: 25;
  text-length: 15; 
  font-family: Fabrikat-Bold;
}

#hr-icon-systole {
  fill: crimson;
  width: 20;
  height: 20;
  x:2;
  y:2;
}

#hr-icon-diastole {
  fill: crimson;
  width: 24;
  height: 24;
}


#hr-count {
  text-anchor: start ;
}


#bat-count {
  text-anchor: start ;
}
