#root {
  viewport-fill: black;
  fill: palegoldenrod;
}

#background {
  x: 0;
  y: 0;
  width:100%;
  height:100%;
  fill: black;
}

#time {
  font-size: 48;
  font-family: Colfax-Medium;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 40;
  fill: white;
}

#hr {
  transform: translate(100%-78,123)
}

#bat {
  transform: translate(100%-78,163);
}

#steps {
  transform: translate(5,83);  
}

#distance {
  transform: translate(5,123)
}
#elevationGain  {
  transform: translate(5,163)
}
#calories  {
  transform: translate(5,203)
}
#activeMinutes {
  transform: translate(5,243)
}

#crypto-left {
  transform: translate(5,100%-44)
}

#crypto-right {
  transform: translate(50%,100%-44)
}

#crypto-container {
  display: none;
}

#crypto-container .icon {
  fill: white;
}

#date {
  x: 50%;
  y: 69;
  font-size: 31;
  text-anchor: middle;
  font-family: Seville-Regular;
  text-length: 120;
  fill: palegoldenrod;
}


#bat-body {
  y:4;
  x:2;
  height: 16;
  width: 22
}

#bat-head {
  y:8;
  height: 8;
  width: 2;
}

#bat-fill {
  y: 6;
  height: 12;
  x:4;
  width: 19;
  fill: black;
}

.progress {
  x:26;
  y:29;
  height: 5;
  width: 10;
}

.bg {
  x:26;
  y:31;
  height: 1;
  width: 65%-24;
}

.tgt-no {
  cx: 65%+5;
  cy: 31;
  r: 4;
}

.tgt-yes {
  cx: 65%+5;
  cy: 31;
  r: 8; 
  display: none;
}

.icon {
  width: 24;
  height: 24;
  x:0;
  y:0;
}

.count {
  font-size: 32;
  x: 26;
  y: 25;
  text-length: 15; 
  font-family: Fabrikat-Bold;
}

#steps {  
  fill: gold;
}

#distance {
  fill: yellowgreen;
}

#elevationGain {
  fill: skyblue;
}

#calories {
  fill: violet;
}

#activeMinutes {
  fill: orange;
}

#hr-icon-systole {
  fill: crimson;
  width: 20;
  height: 20;
  x:2;
  y:2;
}

#hr-icon-diastole {
  fill: crimson;
  width: 24;
  height: 24;
}


#hr-count {
  text-anchor: start ;
}


#bat-count {
  text-anchor: start ;
}
